# Arquivos de ambiente e configuração de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de ambiente Python
venv/
/venv/
env/
/env/
.env
__pycache__/
*.pyc

# Arquivos específicos do Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Arquivos de instalação e distribuição do Python
*.egg-info/
dist/
build/
wheels/
*.egg
pip-wheel-metadata/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de dados e logs
*.csv
*.xlsx
*.json
*.log
*.sqlite
*.db

# EXCEÇÕES: 

!MSRVTT_dados_compilados_com_features.xlsx
!train_val_videodatainfo.json
!test_videodatainfo.json
!videos_com_erro.csv
!all_video_captions.csv

# Pastas de dados e features grandes (já estão no Drive, mas é bom garantir)
/Keyframes/
/MSRVTT_Features_ViT_L_14_Aggregated/
/MSRVTT_Features_ViT_L_14_Sequential/


# Arquivos de dados grandes
TrainValVideo.zip